@import "./media-queries";
.recomend{
    margin:80px 55px 0px;
       @include tablet{
          margin:50px 24px 0px;
        }
        @include mobile{
            margin: 15px;
        }
    &-heading{
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 0.2rem;
        @include tablet{
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 0.2rem;
        }
        @include mobile{
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 0;
        }
      
    }
    &-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem; 
        @include tablet{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
        }
        @include mobile{
            grid-template-columns:1fr;
        }
    }
    &-course{
        border: 1px solid $grey;
        width: 291px;
        margin-top: 20px;
        @include mobile{
              width: 451px;  
        }

        &-image{
            width: 290px;
            height: 250px;
            @include mobile{
                width: 450px;
                height: 400px;
            }
        }
    &-text{
        padding: 12px;
        &-a{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        &-b{
            font-size: 14.5px;
            color: $deepgrey;
            margin-bottom: 5px;
            &-i{
               font-weight: 500;
            }
        }
        &-c{
            font-size: 13px;
            background: $grey;
            display: inline-flex;
            padding:8px;
            margin-top: 5px;
            
        }
    }
    }
    &-btn{
         margin: 100px 0px 100px 0px;
        &-last{
            font-size: 16px;
            display: grid;
            margin: auto;
            @include mobile{
                padding: 12px 18px;
                font-size: 13px;
            }
        }
    }
}
