@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500&display=swap");
.navbar-menu-links, .navbar-menu, .navbar-logo {
  display: flex;
  align-items: center;
}

button, .navbar-menu #button {
  color: #f7f7f7;
  background: #0056d2;
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 700;
  text-decoration: none;
}
button:hover, .navbar-menu #button:hover {
  transition: 0.3s ease;
  background: #0447a5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #f7f7f7;
  height: 60px;
  padding: 0.5rem calc((95.5vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.navbar-logo {
  color: #3377db;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  margin-left: 24px;
}
.navbar-toggler {
  opacity: 0;
}
@media only screen and (max-width: 960px) {
  .navbar-toggler {
    color: #3377db;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar-menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
  text-decoration: none;
}
@media only screen and (max-width: 960px) {
  .navbar-menu {
    display: none;
  }
}
.navbar-menu-a {
  margin-right: 50px;
  padding: 8px;
  color: #000000de;
}
.navbar-menu-a:hover {
  background: #f7f7f7;
  display: inline-flex;
}
.navbar-menu-b {
  margin-right: 50px;
  padding: 8px;
  color: #0056d2;
}
.navbar-menu-b:hover {
  background: #f6f8fa;
  display: inline-flex;
}
.navbar-menu-links {
  justify-content: center;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 500;
  font-size: 15px;
}
.navbar-menu #button {
  padding: 8px 12px;
  margin-left: 16px;
}

.about {
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/hero-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  color: #f7f7f7;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 960px) {
  .about {
    min-height: 60vh;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    background: none;
  }
}
.about-content {
  margin-left: 50px;
}
@media only screen and (max-width: 960px) {
  .about-content {
    margin-left: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .about-content {
    color: #000000de;
    text-align: center;
    margin: 10px;
  }
}
.about-heading {
  font-size: 80px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 960px) {
  .about-heading {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .about-heading {
    font-size: 39px;
    margin-top: -30px;
    margin-bottom: 35px;
  }
}
.about-text {
  font-size: 24px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 960px) {
  .about-text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .about-text {
    font-size: 16px;
  }
}

button {
  padding: 12px 18px;
  font-size: 18px;
  letter-spacing: 1px;
}
@media only screen and (max-width: 768px) {
  button {
    padding: 10px 175px;
    font-size: 16px;
  }
}

.recomend {
  margin: 80px 55px 0px;
}
@media only screen and (max-width: 960px) {
  .recomend {
    margin: 50px 24px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .recomend {
    margin: 15px;
  }
}
.recomend-heading {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 960px) {
  .recomend-heading {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .recomend-heading {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
  }
}
.recomend-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 960px) {
  .recomend-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .recomend-grid {
    grid-template-columns: 1fr;
  }
}
.recomend-course {
  border: 1px solid #e0e0e0;
  width: 291px;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .recomend-course {
    width: 451px;
  }
}
.recomend-course-image {
  width: 290px;
  height: 250px;
}
@media only screen and (max-width: 768px) {
  .recomend-course-image {
    width: 450px;
    height: 400px;
  }
}
.recomend-course-text {
  padding: 12px;
}
.recomend-course-text-a {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.recomend-course-text-b {
  font-size: 14.5px;
  color: #757575;
  margin-bottom: 5px;
}
.recomend-course-text-b-i {
  font-weight: 500;
}
.recomend-course-text-c {
  font-size: 13px;
  background: #e0e0e0;
  display: inline-flex;
  padding: 8px;
  margin-top: 5px;
}
.recomend-btn {
  margin: 100px 0px 100px 0px;
}
.recomend-btn-last {
  font-size: 16px;
  display: grid;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .recomend-btn-last {
    padding: 12px 18px;
    font-size: 13px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=style.css.map */